################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Debug/
/.DS_Store
/._.DS_Store
/Release/
/RDFPlugin/Debug
/RDFPlugin/Release
._README.md
