################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
*Debug/
*.DS_Store
*Release/
/RDFPlugin/Release
._README.md
