################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDFPlugin/x64/Debug
/RDFPlugin/Release/RDFPlugin.tlog
/.vs/RDFPlugin
/.vs
/Debug
/RDFPlugin/Debug
/RDFPlugin/Release
/Release/RDFPlugin.pdb
/Release/RDFPlugin.lib
/Release/RDFPlugin.exp
/.DS_Store
/._.DS_Store
